.idea/
.vscode/
*.exe
*.dll
*.so
*.dylib
*.log
*.csv
*.png
*.jpg
*~
models/knn/__pycache__/
models/logistic_regression/__pycache__/
models/neural_network/__pycache__/
utils/__pycache__/

# Jacob's Virtual Environment:
myenv/